._5bv9{border-radius:32px}
.sp_H8-UfZwFBeo_2x{background-image:url(/rsrc.php/v3/yB/r/ppxx5Ur1U27.png);background-size:501px 174px;background-repeat:no-repeat;display:inline-block;height:156px;width:500px}.sp_H8-UfZwFBeo_2x.sx_73fe16{width:16px;height:16px;background-position:0 -157px}.sp_H8-UfZwFBeo_2x.sx_a2cf2c{background-position:0 0}

#bootloader_FqkaP{height:42px;}.bootloader_FqkaP{display:block!important;}