._2pom{height:16px;width:16px}._2pon{height:16px;width:16px}._2poo{background-image:url(/rsrc.php/v3/yu/r/5eNEyW42pqb.png);background-repeat:no-repeat;background-size:23px 190px;background-position:0 -129px}._2pop{background-image:url(/rsrc.php/v3/yu/r/5eNEyW42pqb.png);background-repeat:no-repeat;background-size:23px 190px;background-position:0 -112px}._4p4t{align-items:center;background-color:#f1f0f0;border:#ffffff 2px solid;border-radius:50%;color:rgba(0, 0, 0, 1);display:flex;height:12px;justify-content:center;width:12px}
._38jn{height:16px;width:16px}._38jt{background-color:#42b72a;border:2px solid #fff;border-radius:50%;height:12px;width:12px}
._4ldz{position:relative}._4ld-{align-items:center;background-color:rgba(0, 0, 0, .05);border-radius:50%;display:flex;justify-content:center;overflow:hidden}.fbChatTypeahead .squareProfile ._4ld-{border-radius:0}._4ld_{bottom:-2px;position:absolute;right:-2px}._180i{background:#0084ff;color:#fff}
._1p_w{margin-bottom:12px}._2_u{padding-bottom:0}._2_w{border-bottom:1px solid #d7dbde;padding:4px 0 16px 0}._5ktw ._2_w{border-bottom:0;padding-bottom:8px}._3w2b{height:294px}
.sp_DHCsuE_gUqu_2x{background-image:url(/rsrc.php/v3/yq/r/is4mYwR2k2A.png);background-size:33px 30px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_DHCsuE_gUqu_2x.sx_4507a4{background-position:-16px 0}.selected .sp_DHCsuE_gUqu_2x.sx_4507a4{background-position:0 0}.sp_DHCsuE_gUqu_2x.sx_131e64{width:13px;height:12px;background-position:-13px -17px}.selected .sp_DHCsuE_gUqu_2x.sx_131e64{background-position:0 -17px}
.sp_YOjj70eZ6_e_2x{background-image:url(/rsrc.php/v3/yq/r/G-f2cjv71F4.png);background-size:33px 34px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_YOjj70eZ6_e_2x.sx_abe417{background-position:-16px 0}.selected .sp_YOjj70eZ6_e_2x.sx_abe417{background-position:0 0}.sp_YOjj70eZ6_e_2x.sx_ea5dcf{background-position:-16px -17px}.selected .sp_YOjj70eZ6_e_2x.sx_ea5dcf{background-position:0 -17px}
.sp_kJdTML211oE_2x{background-image:url(/rsrc.php/v3/ym/r/2NXEiJz0FTy.png);background-size:33px 30px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_kJdTML211oE_2x.sx_566b4d{width:13px;height:12px;background-position:-13px -17px}.selected .sp_kJdTML211oE_2x.sx_566b4d{background-position:0 -17px}.sp_kJdTML211oE_2x.sx_402ec3{background-position:-16px 0}.selected .sp_kJdTML211oE_2x.sx_402ec3{background-position:0 0}
.sp_q8yBmGRZ-H0_2x{background-image:url(/rsrc.php/v3/y5/r/8olKjv6sXzH.png);background-size:33px 30px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_q8yBmGRZ-H0_2x.sx_9ec456{background-position:-16px 0}.selected .sp_q8yBmGRZ-H0_2x.sx_9ec456{background-position:0 0}.sp_q8yBmGRZ-H0_2x.sx_afcb25{width:13px;height:12px;background-position:-13px -17px}.selected .sp_q8yBmGRZ-H0_2x.sx_afcb25{background-position:0 -17px}

#bootloader_QVTiP{height:42px;}.bootloader_QVTiP{display:block!important;}